{% extends "base.html" %}

{% load i18n %}
{% load markup %}

{% block title %}
    {% if form.errors or syserr %}
        {% trans 'Form error' %} -
    {% endif %}
    {% trans 'RMLL/LSM Call for papers' %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}

    <h2>{% trans 'Submit your talk' %}</h2>

    <div class="description">
        <p>
            {% blocktrans with 'UTC' as utc %}Call for papers will end on {{ limit }} {{ utc }}.{% endblocktrans %}
        </p>
    </div>

    {% if form.errors or syserr %}
        <div class="error">
            {% if syserr %}
                {% trans "Operation failed (internal error)" %}
            {% else %}
                {% trans "Operation failed (field(s) missing or incomplete)" %}
            {% endif %}
        </div>
    {% endif %}

    <form method="post" action="">
        <div class="mandatory">
            {% blocktrans with '<span class="required">*</span>' as mark %}Fields prefixed with a {{ mark }} are mandatory.{% endblocktrans %}
        </div>

        {% for field in form %}
            {% ifequal field.name 'language' %}
                <fieldset>
                    <legend>{% trans 'Information about the talk' %}</legend>
            {% endifequal %}

            {% ifequal field.name 'speakers' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Information about the speaker(s)' %}</legend>
            {% endifequal %}

            {% ifequal field.name 'for_general_public' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Targeted public' %}</legend>
                    <div class="field">
                        <div class="help">
                            {% trans "Check the box corresponding to the public targeted by this talk." %}
                        </div>
                    </div>
            {% endifequal %}

            {% ifequal field.name 'fil_rouge_auquotidien' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Underlying thread' %}</legend>
                    <div class="field">
                        <div class="help">
                            {% trans "Check the box corresponding to the underlying thread of this talk." %}
                        </div>
                    </div>
            {% endifequal %}

            {% ifequal field.name 'charges' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Information about the transportation charges' %}</legend>
                    <div class="description">
                        {% blocktrans %}RMLL/LSM is a FLOSS event with limited resources. But (and as usual), for speakers which need it we can refund their transportation charges. If you are in such case, please fill out the following fields.{% endblocktrans %}
                    </div>
            {% endifequal %}

            <div class="field{% if field.errors %} field-error{% endif %}">
                {% if field.errors %}
                    <div class="field-errors">
                        <ul>
                            {% for err in field.errors %}
                                <li class="field-error-num-{{ forloop.counter }}">
                                    {{ err }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <label for="id_{{ field.name }}">
                    {% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label }}
                </label>

                <div class="widget">
                    {{ field }}
                </div>

                {% if field.help_text %}
                    <div class="help">
                        {{ field.help_text }}
                        {% ifequal field.name 'speakers' %}
                            <div class="examples">
                                <div class="title">
                                    {% trans 'Examples:' %}
                                </div>
                                <ul class="content">
                                    <li>Albert Einstein [albert.einstein@relativi.ty]</li>
                                    <li>Erwin Rudolf Josef Alexander Schrödinger [erwin@colorime.try]</li>
                                </ul>
                            </div>
                        {% endifequal %}
                    </div>
                {% endif %}
                <div class="clear"></div>
            </div>
        {% endfor %}
            </fieldset>
        <div class="sub">
            <input type="submit" value="{% trans "Submit your talk" %}" />
        </div>
        <fieldset>
            <legend>{% trans "Help RMLL/LSM" %}</legend>
            <div class="description">
                {% blocktrans %}Professionals, organisations and companies wishing to financially support the RMLL/LSM will get more information on the website:{% endblocktrans %}
                <a href="http://2013.rmll.info/fr/partenaires-et-sponsors" title="{% trans "Visit our website" %}">http://2013.rmll.info/fr/partenaires-et-sponsors</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
